/* * {
  border: 1px solid red;
} */

.hero {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightHeader {
  display: flex;
  width: 200px;
  justify-content: space-around;
  padding-bottom: 30px;
}



.rightHeader button {
  border: none;
  background-color: white;
  display: none;
}

.about-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  max-width: 1000px;
  margin: 0 auto;
}

.about-us {
  /* font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100; */
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 60px;
  margin-bottom: 0px;
  align-items: center;
}

.about-section > p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 10px 20px 50px 20px;

  justify-self: center;
}

.pic-gallery {
  height: 500px;
  display: flex;
  justify-content: center;

  column-gap: 20px;
  padding-bottom: 50px;
}

.pic-gallery img {

}

.icon  {

  max-width: 310px;
  min-width: 310px;
}

.icon img {
  width: 100%;
  height: 190px;

}

.pic-gallery span {
  width: 200px;
  /* justify-self: center;
  align-self: center; */
}


.our-team-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.our-team {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.our-team-box span {
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}

.our-team:before, .our-team:after {
  display:block;
  content: '';
  height: 1px;
  background: linear-gradient(to left, #333, transparent)
}

.our-team:after {
  background: linear-gradient(to right, #333, transparent)
}

.our-team {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-column: 1/-1;
	column-gap: 20px;
	row-gap: 20px;
	align-items: center;
}

.our-team-box > p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding: 10px 40px 50px 40px;
}

.team-pics-box {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  column-gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
}

.pic-group {
  display: flex;
}

.team-pics-box > img {
  align-self: center;
  /* display: flex; */

}

.pic-group1 .pic-group2 {
 display: flex;
 flex-direction: column;
}

.pic1, .pic2, .pic3, .pic4 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0px 15px;

}

.footer-box {
  display: flex;
  background-color: black;
  color: gray;
  flex-direction: column;
  margin-bottom: 80px;
}

.social-icons {
  display: flex;
  padding-top: 20px;
  /* align-items: center; */
  justify-content: center;
  /* align-content: center; */
  /* align-self: center; */
}

.facebook, .twitter, .instagram, .linkedin {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.social-icons span {
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-info {
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
}

.footer-info h4 {
  color: white;
}

.address, .email, .phone {
  padding: 40px 40px 60px 40px;

  text-align: center;

}

.email-address {
  color: white;
  text-decoration: underline;
}

hr {
  border-color: gray;
  width: 100%
}


.footer-footer {
  text-align: center;

}

#scrollUp {
  display: flex;
  background-color: #407cfc;
  height: 80px;
  /* flex-direction: row-reverse; */
  border-radius: 8px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  /* width: 1200px; */
  /* left: 5%;
  right: 5%; */
}

.footer-text {
  margin: 0 auto;
}

.scroll-header {
  margin-top: 13px;
  margin-bottom: 10px;
}

.scroll-button {
  height: 40px;
  border-radius: 8px;
  align-self: center;
  margin-right: 20px;
  /* justify-self: flex-end; */
}

.scroll-header, .scroll-span {
  color: white;

}


/* body {
  background-color: green;
} */

@media (max-width: 1200px) {
  #scrollUp {
    /* width: 100%; */
    right: 10px;
    left: 10px;
  }
}

@media (max-width: 1023px) {
  .pic-gallery {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .icon {
    display: flex;
    padding: 15px;
  }

  .icon img {
    width: 250px;
    height: 170px;
    align-self: center;
  }

  /* .icon h3 {
    align-self: flex-start;
  }

  .icon span {
    align-self: flex-end;
    min-width: 100%;

  } */

  .icon-text {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
  }

  .icon-text span {
    min-width: 400px;
    /* width: auto; */
  }

  .rightHeader button {
    display: flex;
  }

  .rightHeader span {
    display: none;
  }

  .pic-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media (max-width: 767px) {
  .pic-gallery {
    display: flex;
    justify-content: center;
  }

  .icon {
    display: flex;
    flex-direction: column;
    min-width: 80%;

  }

  .pic-group {
    flex-direction: column;
  }

  .footer-box,
  .social-icons,
  .footer-info {
    display: flex;
    flex-direction: column;
  }

  .social-icons {
    /* align-items: center; */
    margin: auto;
    /* padding-top: 20px; */
  }

  .facebook,
  .twitter,
  .instagram,
  .linkedin {
    padding-top: 20px;
  }
}
